<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles amigoscoder</title>
</head>
<body>

    <p>Nombre del amigos-coder: <i>{{ amigoscoder.nombre }}</i></p>
    <p>apellido  <i>{{ amigoscoder.apellido }}</i></p>
    <p>email : <i>{{ amigoscoder.email }}</i></p>
    <p>telefono: <i>{{ amigoscoder.telefono }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>


</body>
</html>